<div
  class="bg-white py-16 px-4 text-center mx-auto flex flex-col md:flex-row items-center justify-between gap-6"
>
  <a href="./index.html">
    <img src="./assets/images/logo.png" alt="Logo" class="w-32 opacity-90" />
  </a>

  <nav class="flex gap-6">
    <a href="" class="nav-link-custom">Ponentes</a>
    <a href="" class="nav-link-custom">Blog</a>
    <a href="" class="nav-link-custom">Recetas</a>
  </nav>

  <div class="flex gap-4 text-cocina-text">
    <a href="#" class="hover:text-cocina-primary transition-colors">
      <i class="fab fa-google-plus-g"></i>
    </a>
    <a href="#" class="hover:text-cocina-primary transition-colors">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="hover:text-cocina-primary transition-colors">
      <i class="fab fa-x-twitter"></i>
    </a>
  </div>
</div>
